<app-cover
    titulo="Sistemas para Internet"
    descricao="Neste curso, você vai trabalhar com Front-end (HTML5, CSS3, entre outros) com foco em UX, Desenvolvimento Mobile (Android, iOS e HTML5), Gestão de Negócios, Tratamento de Imagens e Gerenciamento de Plataformas Digitais. Vai ser estimulado a empreender e criar sua própria Startup, por meio da vivência e do estudo de casos reais."></app-cover>

  <app-grid-row>
    <app-grid-cell md="3">
      <app-card
        imagem="assets/images/destaque_01.png"
        titulo="HTML5"
        texto="Aplicação de Padrões Web, XHTML5 (padrão W3C), CSS, JavaScript e Sistemas Web centrados em User Experience."></app-card>
    </app-grid-cell>

    <app-grid-cell md="3">
      <app-card
        imagem="assets/images/destaque_02.png"
        titulo="Desenvolvimento Mobile"
        texto="Desenvolvimento de apps para dispositivos móveis Apple, utilizando Storyboard, UIKit, MVC, protocolos, requisições HTTP, JSON, persistência e mapas nas linguagens Obj-C e Swift."></app-card>
    </app-grid-cell>

    <app-grid-cell md="3">
      <app-card
        imagem="assets/images/destaque_03.png"
        titulo="Gestão de Negócios"
        texto="Você será imerso no ecossistema dos e-commerces, através do desenvolvimento do plano de negócios para startups, relacionamento com os clientes virtuais, identificação do público-alvo e estratégias de negócio."></app-card>
    </app-grid-cell>

    <app-grid-cell md="3">
      <app-card
        imagem="assets/images/destaque_04.png"
        titulo="Sua Própria Startup"
        texto="VO Start-Up Brasil, Programa Nacional de Aceleração de Startups, é uma iniciativa do governo federal, criada pelo Ministério da Ciência, Tecnologia, Inovações e Comunicações (MCTIC)."></app-card>
    </app-grid-cell>
  </app-grid-row>